body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

html, body {
    overflow-x: hidden;
}

header {
    background: #333;
    color: white;
    padding: 20px;
    font-size: 24px;
}

/* Binder container that holds both the left and right pages */
.binder-container {
    display: flex;
    justify-content: space-between;
    gap: 0px;
    margin-top: 30px;
  }
  
/* Common styling for both left and right binder pages */
.binder-page {
    background-color: rgb(13, 13, 20);
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}

.binder-page.left {
    margin-left: 1.5%;
}
.binder-page.right {
    margin-right: 1.5%;
}

/* Styling for the image grid */
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 5px 0;
}

.image-item {
    width: 200px;
    height: 270px;
    background-color: #ddd; /* Light gray for empty slots */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    border: 2px solid #bbb;
    padding: 2px;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}



/* Mobile Layout (for screens smaller than 768px) */
@media (max-width: 768px) {
    .binder-container {
        flex-direction: column;
        justify-content: center;
        gap: 1px; /* Increased gap between pages */
        margin-top: 10px; /* Reduced top margin */
    }

    .binder-page {
        width: 400px; /* Full width for each page */
        margin-bottom: 20px; /* Add space between the pages */
        padding: 0px;
        border: 0px;
    }

    /* Show left page on mobile */
    .binder-page.left {
        display: block;
        margin: 0px;
    }
    /* Hide right page on mobile */
    .binder-page.right {
        display: none;
        margin: 0px;
    }

    /* Adjust image grid to fit mobile screens */
    .image-grid {
        grid-template-columns: repeat(3, 130px); 
        gap: 2px 1px; /* Adjust grid gap for mobile */
    }

    .image-item {
        width: 120px;
        height: 165px;
        background-color: #ddd; /* Light gray for empty slots */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: #333;
        border: 2px solid #bbb;
    }

    .image-item img {
        width:125px;
        height: 165px;
        object-fit: cover;
        border-radius: 5px;
    }
}

